[Desktop Entry]
Type=Application
Name=mkvinfo
Name[sr]=Мкв-обавештајац
GenericName=Show information about MKV files
GenericName[ca]=Mostra informació quant als fitxers MKV
GenericName[de]=Informationen über MKV-Dateien anzeigen
GenericName[es]=Mostrar información sobre ficheros MKV
GenericName[sr]=Програм за приказ података Матрошка датотека.
GenericName[zh_CN]=显示 MKV 文件的信息
GenericName[zh_TW]=顯示 MKV 檔資訊
Icon=mkvinfo
Exec=mkvinfo -g %f
Terminal=false
MimeType=video/x-matroska;audio/x-matroska;
Categories=AudioVideo;AudioVideoEditing;
InitialPreference=-1
