#!/usr/bin/make -f

.PHONY: override_dh_clean override_dh_auto_configure override_dh_auto_build override_dh_install override_dh_strip override_dh_installchangelogs override_dh_builddeb

LDFLAGS += -Wl,-z,defs -Wl,--as-needed

# uncomment line to turn verbose mode on
#export V=1


%:
	dh $@ --parallel

override_dh_clean:
	[ ! -f build-config ] || rake clean:dist

	dh_clean src/mkvinfo-gui config.status config.log \
	rake.d/dependecy.d/*.rb src/input/*.d config.h build-config

ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	rm -rf lib/gtest
endif

override_dh_auto_configure:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	mkdir -p lib/gtest
	cp -R /usr/include/gtest lib/gtest/
	mv lib/gtest/gtest lib/gtest/include
	cp -R /usr/src/gtest/src lib/gtest/
endif

	dh_auto_configure -- --docdir='$${datarootdir}/doc/mkvtoolnix-gui' \
	  --enable-debug --enable-optimization

override_dh_auto_build:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	LC_ALL=C rake tests:run_unit
endif

	rake

	mv src/mkvinfo src/mkvinfo-gui
	rm src/info/*.o src/info/*.a src/info/qt_resources.cpp
	rm -rf rake.d/dependency.d

	cp -a config.h config.h.ref
	sed -i -e '/#define.*HAVE_QT/d' config.h
	touch -r config.h.ref config.h
	rm config.h.ref

	rake apps:mkvinfo USE_QT=no QT_LIBS=' ' QT_INCLUDES=' '

	touch src/info/qt_ui.o src/info/qt_resources.cpp src/info/qt_resources.o src/info/libmtxinfo.a src/mkvinfo

override_dh_install:
	rake install DESTDIR=$(CURDIR)/debian/tmp

	dh_install --list-missing -Xmkvtoolnix.xml

	mv debian/mkvtoolnix/usr/bin/mkvinfo debian/mkvtoolnix/usr/bin/mkvinfo-text

	dh_link -pmkvtoolnix usr/share/man/man1/mkvinfo.1.gz usr/share/man/man1/mkvinfo-text.1.gz
	dh_link -pmkvtoolnix-gui usr/share/man/man1/mkvinfo.1.gz usr/share/man/man1/mkvinfo-gui.1.gz

override_dh_strip:
	dh_strip -pmkvtoolnix     --dbg-package=mkvtoolnix-dbg
	dh_strip -pmkvtoolnix-gui --dbg-package=mkvtoolnix-gui-dbg

override_dh_installchangelogs:
	dh_installchangelogs NEWS.md

override_dh_builddeb:
	dh_builddeb -- -Zxz -z8
