#!/usr/bin/make -f

LDFLAGS += -Wl,-z,defs -Wl,--as-needed

# uncomment line to turn verbose mode on
#export V=1


%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure

#	exit 1

	./drake apps:mkvinfo apps:mkvtoolnix-gui

	mv src/mkvinfo src/mkvinfo-gui
	mv src/mkvtoolnix-gui/mkvtoolnix-gui src/mkvtoolnix-gui/mkvtoolnix-gui-tmp

	./drake clean:dist

	dh_auto_configure -- \
	--disable-gui

override_dh_clean:
	[ ! -f build-config ] || ./drake clean:dist

	dh_clean src/mkvinfo-gui src/mkvtoolnix-gui/mkvtoolnix-gui-tmp config.status config.log \
	rake.d/dependecy.d/*.rb src/input/*.d config.h build-config

override_dh_install:
	./drake install 'install:shared'      DESTDIR=$(CURDIR)/debian/tmp docdir='$${datarootdir}/doc/mkvtoolnix-gui'
	./drake 'install:manpages' USE_QT=yes DESTDIR=$(CURDIR)/debian/tmp docdir='$${datarootdir}/doc/mkvtoolnix-gui'

	dh_install --list-missing -Xmkvtoolnix.xml

	mv debian/mkvtoolnix/usr/bin/mkvinfo debian/mkvtoolnix/usr/bin/mkvinfo-text
	mv debian/mkvtoolnix-gui/usr/bin/mkvtoolnix-gui-tmp debian/mkvtoolnix-gui/usr/bin/mkvtoolnix-gui

	dh_link -pmkvtoolnix usr/share/man/man1/mkvinfo.1.gz usr/share/man/man1/mkvinfo-text.1.gz
	dh_link -pmkvtoolnix-gui usr/share/man/man1/mkvinfo.1.gz usr/share/man/man1/mkvinfo-gui.1.gz

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9

override_dh_auto_build:
