<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>LSEnvironment</key>
    <dict>
      <key>LANG</key>                        <string>en_US.UTF-8</string>
    </dict>
    <key>Properties</key>
    <dict>
      <key>file.encoding</key>               <string>UTF-8</string>
    </dict>
    <key>CFBundleDevelopmentRegion</key>     <string>en-US</string>
    <key>CFBundleIdentifier</key>            <string>download.mkvtoolnix.MKVToolNix</string>
    <key>CFBundleExecutable</key>            <string>mkvtoolnix-gui</string>
    <key>CFBundleInfoDictionaryVersion</key> <string>6.0</string>
    <key>CFBundlePackageType</key>           <string>APPL</string>
    <key>CSResourcesFileMapped</key>         <true/>
    <key>CFBundleVersion</key>               <string>::MTX_VER::</string>
    <key>CFBundleShortVersionString</key>    <string>::MTX_VER::</string>
    <key>NSPrincipalClass</key>              <string>NSApplication</string>
    <key>LSMinimumSystemVersion</key>        <string>::MACOSX_DEPLOYMENT_TARGET::</string>
    <key>CFBundleDisplayName</key>           <string>MKVToolNix</string>
    <key>CFBundleName</key>                  <string>MKVToolNix</string>
    <key>CFBundleIconFile</key>              <string>MKVToolNix.icns</string>

    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>LSItemContentTypes</key>
        <array>
          <string>download.mkvtoolnix.MKVToolNix.mtxcfg</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>MKVToolNix GUI settings file</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Owner</string>
      </dict>
   </array>

    <key>UTExportedTypeDeclarations</key>
    <array>
      <dict>
        <key>UTTypeDescription</key>
        <string>MKVToolNix GUI settings file</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.text</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>download.mkvtoolnix.MKVToolNix.mtxcfg</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.mime-type</key>
          <array>
            <string>application/x-mkvtoolnix-gui-settings</string>
          </array>
          <key>public.filename-extension</key>
          <array>
            <string>mtxcfg</string>
          </array>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
