<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>LSEnvironment</key>
    <dict>
      <key>LANG</key>                        <string>en_US.UTF-8</string>
    </dict>
    <key>Properties</key>
    <dict>
      <key>file.encoding</key>               <string>UTF-8</string>
    </dict>
    <key>CFBundleDevelopmentRegion</key>     <string>en-US</string>
    <key>CFBundleIdentifier</key>            <string>download.mkvtoolnix.MKVToolNix</string>
    <key>CFBundleExecutable</key>            <string>mkvtoolnix-gui</string>
    <key>CFBundleInfoDictionaryVersion</key> <string>6.0</string>
    <key>CFBundlePackageType</key>           <string>APPL</string>
    <key>CSResourcesFileMapped</key>         <true/>
    <key>CFBundleVersion</key>               <string>::MTX_VER::</string>
    <key>CFBundleShortVersionString</key>    <string>::MTX_VER::</string>
    <key>NSPrincipalClass</key>              <string>NSApplication</string>
    <key>LSMinimumSystemVersion</key>        <string>::MACOSX_DEPLOYMENT_TARGET::</string>
    <key>CFBundleDisplayName</key>           <string>MKVToolNix</string>
    <key>CFBundleName</key>                  <string>MKVToolNix</string>
    <key>CFBundleIconFile</key>              <string>MKVToolNix.icns</string>

    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>Flash Video File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.adobe.flash.video</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>FLAC Audio File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>org.xiph.flac</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>wv</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>WavePack Audio File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSTypeIsPackage</key>
        <false/>
        <key>NSPersistentStoreTypeKey</key>
        <string>Binary</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>tta</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>True Audio Free Lossless Audio</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSTypeIsPackage</key>
        <false/>
        <key>NSPersistentStoreTypeKey</key>
        <string>Binary</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>RealPlayer Media Files</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.real.realmedia-vbr</string>
          <string>com.real.realaudio</string>
          <string>com.real.realmedia</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>dts</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>DTS Encoded Audio File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>


      <dict>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>WAVE Audio File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.microsoft.waveform-audio</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>vob</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>VOB File (DVD Video)</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>Digital Audio</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.ac3-audio</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>AAC file</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.aac-audio</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>opus</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>audio/opus</string>
          <string>audio/ogg; codecs=opus</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>OPUS file</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>org.xiph.opus</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>ogm</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>Ogg MPEG-4 Video File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>ogg</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>audio/ogg</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>Ogg Vorbis File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>oga</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>audio/ogg</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>Ogg Audio File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>ogv</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>video/ogg</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>Ogg Video File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>org.xiph.ogg-video</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>ogx</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>application/ogg</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>Ogg Application File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>AVI container</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.avi</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>evo</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>EVO Video File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>Apple QuickTime container</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.apple.quicktime-movie</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>divx</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>DivX file</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>ivf</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>IVF Video Container File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>av1</string>
          <string>obu</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>AV1 Open Bitstream Units Stream</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>mpls</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>Blu-ray Playlist File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>multiplexed MPEG-1/2</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.mpeg</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>m1v</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>MPEG-1 Video File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>m2a</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>MPEG-1/2 Audio File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>mp1</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>MPEG Audio Layer 1</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>MPEG Audio Layer 2</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.mp2</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>MPEG Audio Layer 3</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.mp3</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>m2p</string>
          <string>ps</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>MPEG-2 Program Stream</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>ts</string>
          <string>m2t</string>
          <string>m2ts</string>
          <string>mts</string>
          <string>mt2s</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>video/mp2t</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>MPEG-2 Transport Stream</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>MPEG-2 Video File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.mpeg-2-video</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>mpa</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>MPEG-2 Audio File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>MPEG-4 File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.mpeg-4-audio</string>
          <string>com.apple.m4v-video</string>
          <string>public.mpeg-4</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>MPEG-4 Audio File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.apple.m4a-audio</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>3GPP File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.3gpp</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>mlp</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>Meridian Lossless Packing Audio File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>thd</string>
          <string>thd+ac3</string>
          <string>truehd</string>
          <string>true-hd</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>TrueHD Audio File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>mka</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>Matroska Audio File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>org.bunkus.MKVToolNix.mka</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>mkv</string>
          <string>mk3d</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>Matroska Video File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>weba</string>
          <string>webm</string>
          <string>webma</string>
          <string>webmv</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>WebM Video File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>mks</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>Matroska Subtitle File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>idx</string>
          <string>sub</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>Index file</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>textst</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>HDMV TextSG Subtitle File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>sup</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>PGS/SUP Subtitle File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>ssa</string>
          <string>ass</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>Sub Station Alpha Subtitle File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSTypeIsPackage</key>
        <false/>
        <key>NSPersistentStoreTypeKey</key>
        <string>Binary</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>usf</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>USF Subtitle File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSTypeIsPackage</key>
        <false/>
        <key>NSPersistentStoreTypeKey</key>
        <string>XML</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>srt</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>Subrip Subtitle File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSTypeIsPackage</key>
        <false/>
        <key>NSPersistentStoreTypeKey</key>
        <string>Binary</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>vtt</string>
          <string>webvtt</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>WebVTT Subtitle File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSTypeIsPackage</key>
        <false/>
        <key>NSPersistentStoreTypeKey</key>
        <string>Binary</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>264</string>
          <string>avc</string>
          <string>h264</string>
          <string>x264</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>AVC/H.264 Elementary Stream</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>265</string>
          <string>h265</string>
          <string>hevc</string>
          <string>x265</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>HEVC/H.265 Elementary Stream</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>

      <dict>
        <key>LSItemContentTypes</key>
        <array>
          <string>download.mkvtoolnix.MKVToolNix.mtxcfg</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>MKVToolNix.icns</string>
        <key>CFBundleTypeName</key>
        <string>MKVToolNix GUI settings file</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Owner</string>
      </dict>
   </array>

    <key>UTExportedTypeDeclarations</key>
    <array>
      <dict>
        <key>UTTypeDescription</key>
        <string>MKVToolNix GUI settings file</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.text</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>download.mkvtoolnix.MKVToolNix.mtxcfg</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.mime-type</key>
          <array>
            <string>application/x-mkvtoolnix-gui-settings</string>
          </array>
          <key>public.filename-extension</key>
          <array>
            <string>mtxcfg</string>
          </array>
        </dict>
      </dict>
    </array>

    <key>UTImportedTypeDeclarations</key>
    <array>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.movie</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Flash Video File</string>
        <key>UTTypeIdentifier</key>
        <string>com.adobe.flash.video</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>flv</string>
            <string>f4v</string>
            <string>f4a</string>
            <string>f4b</string>
          </array>
          <key>public.mime-type</key>
          <array>
            <string>video/x-flv</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.audio</string>
        </array>
        <key>UTTypeDescription</key>
        <string>FLAC Audio File</string>
        <key>UTTypeIdentifier</key>
        <string>org.xiph.flac</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>flac</string>
          </array>
          <key>public.mime-type</key>
          <array>
            <string>audio/flac</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.audio</string>
        </array>
        <key>UTTypeDescription</key>
        <string>WavePack Audio File</string>
        <key>UTTypeIdentifier</key>
        <string>org.bunkus.MKVToolNix.wv</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>wv</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.audio</string>
        </array>
        <key>UTTypeDescription</key>
        <string>True Audio Free Lossless Audio</string>
        <key>UTTypeIdentifier</key>
        <string>org.bunkus.MKVToolNix.tta</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>tta</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.audio</string>
        </array>
        <key>UTTypeDescription</key>
        <string>RealAudio</string>
        <key>UTTypeIdentifier</key>
        <string>com.real.realaudio</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>com.apple.ostype</key>
          <array>
            <string>PNRA</string>
          </array>
          <key>public.filename-extension</key>
          <array>
            <string>ra</string>
            <string>rax</string>
          </array>
          <key>public.mime-type</key>
          <array>
            <string>audio/vnd.rn-realaudio</string>
            <string>audio/x-realaudio</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.movie</string>
        </array>
        <key>UTTypeDescription</key>
        <string>RealMedia</string>
        <key>UTTypeIdentifier</key>
        <string>com.real.realmedia</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>com.apple.ostype</key>
          <array>
            <string>PNRM</string>
          </array>
          <key>public.filename-extension</key>
          <array>
            <string>rm</string>
            <string>rv</string>
            <string>rmj</string>
            <string>rpm</string>
            <string>rp</string>
            <string>rt</string>
            <string>rmvb</string>
            <string>rmd</string>
            <string>rms</string>
            <string>rmx</string>
            <string>rvx</string>
          </array>
          <key>public.mime-type</key>
          <array>
            <string>application/vnd.rn-realmedia</string>
            <string>application/vnd.rn-realmedia-vbr</string>
            <string>text/vnd.rn-realtext</string>
            <string>audio/x-pn-realaudio-plugin</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.audio</string>
        </array>
        <key>UTTypeDescription</key>
        <string>DTS Encoded Audio File</string>
        <key>UTTypeIdentifier</key>
        <string>org.bunkus.MKVToolNix.dts</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>dts</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.video</string>
        </array>
        <key>UTTypeDescription</key>
        <string>VOB File (DVD Video)</string>
        <key>UTTypeIdentifier</key>
        <string>org.bunkus.MKVToolNix.vob</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>vob</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.audio</string>
        </array>
        <key>UTTypeDescription</key>
        <string>OPUS file</string>
        <key>UTTypeIdentifier</key>
        <string>org.xiph.opus</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>opus</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.video</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Ogg Video File</string>
        <key>UTTypeIdentifier</key>
        <string>org.xiph.ogg-video</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>ogm</string>
            <string>ogv</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.audio</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Ogg Audio File</string>
        <key>UTTypeIdentifier</key>
        <string>org.bunkus.MKVToolNix.ogg-audio</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>ogg</string>
            <string>oga</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.movie</string>
        </array>
        <key>UTTypeDescription</key>
        <string>DivX file</string>
        <key>UTTypeIdentifier</key>
        <string>org.bunkus.MKVToolNix.divx</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>divx</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.movie</string>
        </array>
        <key>UTTypeDescription</key>
        <string>MPEG-2 Stream</string>
        <key>UTTypeIdentifier</key>
        <string>org.bunkus.MKVToolNix.mpeg-stream</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>m2p</string>
            <string>ps</string>
            <string>tp</string>
            <string>ts</string>
            <string>m2t</string>
            <string>m2ts</string>
            <string>mts</string>
            <string>mt2s</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.audio</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Meridian Lossless Packing Audio File</string>
        <key>UTTypeIdentifier</key>
        <string>org.bunkus.MKVToolNix.mlp</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>mlp</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.audio</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Matroska Audio File</string>
        <key>UTTypeIdentifier</key>
        <string>org.bunkus.MKVToolNix.mka</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>mka</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.movie</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Matroska Video File</string>
        <key>UTTypeIdentifier</key>
        <string>org.bunkus.MKVToolNix.mkv</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>mkv</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.movie</string>
          <string>org.bunkus.MKVToolNix.mkv</string>
        </array>
        <key>UTTypeDescription</key>
        <string>WebM Video File</string>
        <key>UTTypeIdentifier</key>
        <string>org.bunkus.MKVToolNix.webm</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>webm</string>
          </array>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
